body {
  background-color: black;
}

p {
  color: black;
  padding-left: 50px;
  font-size: 14px;
}

.product-card {
  width: 800px;
  height: 500px;
  margin-top: 120px;
}

h3 {
  font-size: 32px;
  color: black;
}

h5 {
  font-size: 18px;
}

.right-info-col {
  padding: 20px;

}

